<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.wh.engineer">

    <!-- android:name=".base.App" android:icon="@mipmap/logo"-->
    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/engineer_app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">

        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/SplashTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TestLoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.RegisteActivity"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.EntranceActivity"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape" />
        <service
            android:name=".service.ScanService"
            android:exported="true">
        </service>
        <service
            android:name=".service.LoginService"
            android:exported="true">
        </service>
    </application>

</manifest>